<h1>jsonplaceholder.typicode.com => get mock API</h1>
<div class="row">
  <div class="col-4">
    <button class="btn btn-success" (click)="getUser()">getUser</button>
  </div>
  <div class="col-4">
    <button class="btn btn-success" (click)="getEmployee()">getEmployee</button>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @for(item of usrList; track $index){
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @for(item of employeeList; track $index){
        <tr>
          <td>{{ item.employeeId }}</td>
          <td>{{ item.employeeName }}</td>
          <td>{{ item.contactNo }}</td>
          <td>{{ item.emailId }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
